bottle==0.13.2
bottle-websocket==0.2.9
certifi==2025.1.31
cffi>=1.17.1
charset-normalizer==3.4.1
comtypes==1.4.6
Eel==0.18.1
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
playsound==1.2.2
pycparser==2.21
pyparsing==3.1.4
pypiwin32==223
pyttsx3==2.98
pywin32==308
requests==2.31.0
SpeechRecognition==3.9.0
typing_extensions==4.7.1
urllib3==2.0.7
zope.event==5.0
zope.interface==6.4.post2
